body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    /* line-height: 1.6; */
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Promo
================ */

.promo {
    width: 100%;
    padding: 39px 0 62px 0;
    height: 800px;
    background: #150f10 url("../img/bg.jpg") center no-repeat;
    background-size: cover;
    color: #ffffff;
}

.promo-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.promo-logo img {
    display: block;
    margin-bottom: 10px;
}

.promo-text {
    font-weight: 500;
    text-transform: uppercase;
}

/* Header
================ */

.header {
    display: flex;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #f9bf3b;
    font-size: 41px;
    font-weight: 400;
    text-transform: uppercase;
}

h1.title {
    padding-bottom: 30px;
}

.simple {
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 30px;
}

h2.title {
    padding-bottom: 75px;
}

.header-text {
    font-size: 21px;
    font-weight: 300;
    /* line-height: 28px; */
    /* font-family: "Roboto Light"; */
    font-weight: 300;
    text-align: center;
}

.header-text .free {
    color: #f9bf3b;
    /* font-family: "Roboto - Bold"; */
    font-weight: 700;
}
.header-finish {
    display: flex;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.btn {
    padding: 29px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);

    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: #ffffff;
    /* font-family: "Roboto Condensed"; */
    font-size: 21px;
    font-weight: 400;

    text-transform: uppercase;
}