body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* p {
    margin: 0 0 10px;
} */

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.line {
    margin: 15px auto;
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
}

.btn {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    width: 313px;
    height: 72px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
}

.btn:hover {
    background-image: linear-gradient(to top, #1a6279 0%, #28839c 100%);
}

/* Promo
================ */

.promo {
    margin: 0 auto;
    /* width: 100%; */
    padding: 39px 0 62px;
    min-height: 800px;
    background: #150f10 url("../img/bg.jpg") center no-repeat;
    background-size: cover;
    color: #ffffff;
}

/* Promo-logo
================ */

.promo-logo {
    margin-bottom: 53px;
}

.promo-logo img {
    display: block;
    margin: 0 auto;
    margin-bottom: 14px;
}

.promo-text {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

/* Header
================ */

.header {
    display: flex;
    margin-bottom: 65px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {
    color: #f9bf3b;
    font-size: 41px;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 5px;
}

h1.header-title {
    padding-bottom: 5px;
}

.header-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-simple {
    font-size: 80px;
    font-weight: 900;
    padding-bottom: 10px;
    color: #ffffff;
    text-transform: uppercase;
}

.subtitle-line {
    width: 292px;
    height: 2px;
    background-color: #fff;
    margin: 0 10px;
}

h2.header-title {
    padding-bottom: 15px;
}

.header-text {
    padding: 0 13px;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.header-text .free {
    color: #f9bf3b;
    font-weight: 700;
}

/* Promo-end
================ */

.promo-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promo-end-btn {
    padding: 28px;
    margin-bottom: 65px;
    border: 4px solid rgba(0, 0, 0, 0.23);
    font-size: 18px;
    font-weight: 400;
}

.promo-end-more {
    color: #ffffff;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 15px;
}

/* Waiting
================ */

.waiting {
    padding: 85px 0 75px 0;
    min-height: 604px;
    background-color: #efefef;
}

/* Waiting
================ */

.container-waiting {
    margin: 0 auto;
    text-align: center;
}

.waiting-title {
    margin-bottom: 15px;
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    text-transform: uppercase;
}

.waiting-subtitle {
    margin-bottom: 45px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 23px;
}

.waiting-blocs {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.waiting-blocs img {
    display: block;
    margin-bottom: 35px;
}

.waiting-blocs-create {
    max-width: 354px;
}

.waiting-blocs-show {
    max-width: 339px;
}

.waiting-blocs-index {
    max-width: 340px;
}

.waiting-blocs-text {
    color: #4a4a4a;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
}

/* Optimization
================ */

.optimization {
    min-height: 550px;
    padding: 102px 0 107px;
}

.container-optimization {
    margin-left: 391px;
}

.optimization-title {
    margin-bottom: 25px;
    color: #299cbd;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}

.optimization-text {
    margin-bottom: 25px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
}

.optimization-text-other {
    font-weight: 700;
    line-height: 27px;
}

.optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

/* Finish
================ */

.finish {
    padding: 86px 0 79px 0;
    min-height: 447px;
    background: #2c2c2c url("../img/bg-finish.jpg") center no-repeat;
    background-size: cover;
}

.finish-title {
    text-align: center;
    color: #efefef;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.finish-wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish-wrapper-items {
    width: 204px;
}

.finish-wrapper-items-round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 25px;
    height: 115px;
    width: 115px;
    background: #b4e2ff;
    border-radius: 100%;
}

.finish-wrapper-items-text {
    text-align: center;
    color: #efefef;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

/* Present
================ */

.present {
    padding: 86px 0 87px 0;
    min-height: 628px;
    background-color: #efefef;
}

.present-logo {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.present-text {
    text-align: center;
    margin-bottom: 52px;
    color: #252525;
    font-size: 30px;
    line-height: 43px;
}

.present-btn {
    display: block;
    margin: 0 auto;
    border: 4px solid rgba(0, 0, 0, 0.11);
    font-size: 18px;
    line-height: 24px;
}

/* Vebinar
================ */

.vebinar {
    min-height: 515px;
    padding: 89px 0 64px 0;
}

.vebinar-img {
    text-align: center;
    margin-bottom: 37px;
}

.vebinar-text {
    text-align: center;
    margin-bottom: 20px;
    color: #252525;
    font-size: 30px;
    text-transform: uppercase;
}

.vebinar-title {
    text-align: center;
    margin-bottom: 15px;
    color: #299cbd;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
}

.vebinar-subtitle {
    text-align: center;
    color: #4a4a4a;
    font-size: 23px;
}

/* Footer
================ */

.footer {
    min-height: 166px;
    background-color: #1a1a1a;
    padding: 61px 0 69px 0;
}

.info {
    margin: 0 auto;
    width: 377px;
    text-align: center;
    color: #888888;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.footer a {
    color: #888888;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.footer a:hover {
    color: #299cbd;
}
<<<<<<< HEAD

.info-tel a {
    text-decoration: none;
}

=======
>>>>>>> 4af1708101faf35c6e4e3b255b81dd32be12af0a

.info-tel a {
    text-decoration: none;
}